*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

#root{
    width: 100vw;
    height: 100vh;
}

.juego {
    text-align: center;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    gap: 20px;
    background: rgb(0, 179, 255);
    background: radial-gradient(circle, rgba(0, 179, 255, 1) 0%, rgba(0, 179, 255, 1) 10%, rgba(0, 48, 255, 1) 11%, rgba(0, 179, 255, 1) 13%, rgba(0, 179, 255, 1) 19%, rgba(0, 46, 255, 1) 21%, rgba(0, 179, 255, 1) 26%, rgba(0, 179, 255, 1) 52%, rgba(0, 125, 255, 1) 53%, rgba(0, 179, 255, 1) 54%, rgba(0, 179, 255, 1) 70%, rgba(0, 46, 255, 1) 71%, rgba(0, 179, 255, 1) 72%, rgba(0, 30, 255, 1) 100%);
    animation: background-breath 5s infinite alternate;
    background-position: center center;
}

@keyframes background-breath {
    0%{
        background-size: 110% 110%;
    }
    100%{
        background-size: 100% 100%;
    }
}

.title{
    margin-top: -60px;
    margin-bottom: 20px;
    font-size: 4em;
    color: white;
    font-weight: 800;
    font-style: normal;
}

.game-def-word{
    font-size: 3em;
    color: white;
    font-weight: 400;
}

.inner-game{
    width: 90%;
    min-width: 650px;
    max-width: 1100px;
    height: 800px;
    padding: 20px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 0, 255, 0.7);
    border-radius: 20px;
}

.loading-word{
    color: white;
    font-size: 2em;
    align-self: center;
}

.all-def{
    overflow: auto;
    overflow-x: hidden;
    padding-right: 10px;
    
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #804400;
}

::-webkit-scrollbar-thumb {
    background: #ffba3b;
}

::-webkit-scrollbar-thumb:hover {
    background: #fad879;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
}

.every-def{
    border: 1px solid rgb(255, 255, 255);
    background-color: blue;
    color: white;
    font-size: 1em;
    margin-bottom: 5px;
    padding: 20px;
    font-family: "EB Garamond",serif;
    font-weight: 300;
    border-radius: 20px;
}

.every-def * {
    padding: 5px;
}

.acepciones{
    color: white;
    text-decoration:underline;
    font-size: 1.3em;
    font-family: "EB Garamond", serif;
}

.inputs-box{
    min-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 150px 0px;
    border: 1px solid white;
    grid-area: 1/2/3/3;
    border-radius: 20px;
}

.letter-case {
    position: relative;
    top: -90px;
    right: 25px;
}

.letter{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(0, 0, 255);
    background: radial-gradient(circle, rgba(0, 0, 255, 1) 29%, rgba(0, 12, 107, 1) 100%);
    position: absolute;
    font-weight: 1000;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}

.correct-letter{
    background: rgb(44, 168, 35);
    background: radial-gradient(circle, rgb(86, 212, 77) 29%, rgb(0, 153, 15) 100%);
}

.surrender-letter{
    background: rgb(255, 0, 0);
    background: radial-gradient(circle, rgba(255, 0, 0, 1) 29%, rgba(102, 0, 0, 1) 100%);
}

.inputs-box button {
    width: 80%;
    font-size: 1.2em;
    font-weight: 600;
    font-family: "EB Garamond", serif;
    min-width: 80px;
    height: 50px;
    border-radius: 10px;
}

.inputs-box button:hover{

    box-shadow: 0px 0px 3px white;
}

.correct-case{
    position: relative;
    top: 30px;
    right: 100px;
}

.correct-text-case{
    width: 200px;
    height: 80px;
    background: rgb(44, 168, 35);
    background: radial-gradient(circle, rgb(86, 212, 77) 29%, rgb(0, 153, 15) 100%);
    box-shadow: 0px 0px 4px white;
    color: white;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct-text{
    position: absolute;
    font-size: 1.75em;
    filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
}

.input-game-case{
    width: 100%;
    align-self: center;
}

.input-game{
    font-size: 1.7em;
    text-align: center;
    padding: 20px;
    margin: auto;
    grid-column: 1;
    grid-row: 2/3;
    border-radius: 20px;
}